body {
  margin: 0;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  color: #40514E;
}

h1 {
  margin: 50px auto 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Bitter', serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  font-family: 'Bitter', serif;
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: white;
}

hr {
  width: 5%;
border-style: none;
border-top: 7px dotted #EAF6F6;
margin: 100px auto;
}

p {
  line-height: 2;
}


/***************** CLASS SECTIONS ****************/
.mountain {
  margin: 150px auto auto;
}


.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 120px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  top: 50px;
  position: absolute;
  right: 400px;
}

.middle-container {
  margin: 100px 0;
}

.first-para {
  width: 30%;
  margin: auto;
}

.first-para-two {
  width: 40%;
  margin: 30px auto 40px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;

}

.giphy-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.contact-me {
  line-height: 2;
  font-weight: normal;
}

.bottom-container {
  margin-top: 50px;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer-link {
  margin: 10px 20px;
}

.last-contant {
  font-weight: bolder;
  color: #EAF6F6;
  margin: 30px 0 10px;
  font-size: 0.75rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  margin-top: 30px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


/********* Bouncing Boll Animation ************/
.bouncingball {
  width:140px;
  height:140px;
  border-radius:100%;
  background: Yellow;
  animation: bounce 3s;
  transform: translateY(50px);
  animation-iteration-count: infinite;
  position: relative;
  margin:50px;
}


.bouncingball:hover {
  background: green;
  border-radius: 50%;
}



@keyframes bounce {
	0% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 140px;
		height: 140px;
		-webkit-animation-timing-function: ease-out;
	}
	55% {top: 160px; height: 120px;
		-webkit-animation-timing-function: ease-in;}
	65% {top: 120px; height: 140px;
		-webkit-animation-timing-function: ease-out;}
	95% {
		top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-webkit-animation-timing-function: ease-in;

	}
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Bitter', serif;
  position: relative;
  display: inline-block;
  color: #66BFBF;
  text-transform: uppercase;
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

* {
  margin-top: 50px auto;
  padding: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(15%, 0%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #66BFBF;
}

.content h2:nth-child(2) {
  color: #11999e;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
